<div class="container my-3">
<div class="jumbotron">
    <h1 class="display-4">About This Angular App</h1>
    <p class="lead">Welcome to our Angular-based ToDo app! This page serves as the digital space where you can
         effortlessly organize your tasks and create to-do lists. Seamlessly built using Angular, our 
        app offers a user-friendly interface, allowing you to efficiently manage your daily activities.</p>
    <hr class="my-4">
    <h4>Key Features:</h4>
    <p> Intuitive Task Creation: Easily add new tasks  for better organization . </p>
        <p>Responsive Design: Enjoy a smooth experience across various devices, ensuring accessibility on the go.</p>
        <p>Efficient Task Management: Utilize fundamental Angular concepts to  manipulate your to-do items effortlessly </p>
        <br>
        <h6>Feel empowered to take charge of your schedule with our Angular ToDo app. Start maximizing productivity and staying organized today!</h6>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </div>
</div>